header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg,#7204ff,#0e09ee);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
}

